<?xml version="1.0"?>
<model>
  <name>Blue disk</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>
  <author>
    <name>Alejandro Suarez</name>
    <email>asuarez@iri.upc.edu</email>
  </author>
  <description>
    Easily graspable disk
  </description>
</model>
