<launch>

  <arg name="ROBOT"        default="iri_wam"/>
  <arg name="IK"           default="true"/>
  <arg name="VISION"       default="true"/>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="world"        default="0"/>
  <arg name="paused"       default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui"          default="true"/>
  <arg name="headless"     default="false"/>
  <arg name="debug"        default="false"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find cirp_gazebo)/worlds/world0.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <param name="use_gui" value="$(arg gui)" />

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description"
         command="$(find xacro)/xacro --inorder '$(find cirp_wam_description)/xacro/iri_wam.urdf.xacro'" />

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf -model iri_wam -param robot_description"/>

  <!-- ros_control iri_wam launch file -->
  <include file="$(find cirp_gazebo)/launch/iri_wam_control.launch" />

  <group ns="$(arg ROBOT)">
    <!-- Publish Robot Inverse Kinematics -->
    <include file="$(find iri_wam_ik)/launch/iri_wam_ik.launch" if="$(arg IK)" >
      <arg name="ROBOT" value="$(arg ROBOT)" />
    </include>

    <!-- Publish TCP Robot Inverse Kinematics -->
    <node name="$(arg ROBOT)_tcp_ik" pkg="iri_wam_tcp_ik" type="iri_wam_tcp_ik" if="$(arg IK)" >
      <param name="robot_base" type="str" value="/$(arg ROBOT)_link_base" />
      <param name="robot_tcp" type="str" value="/$(arg ROBOT)_link_tcp" />
      <param name="tool_tcp"  type="str" value="/$(arg ROBOT)_gripper_tcp" />
      <remap from="$(arg ROBOT)_tcp_ik/wamik" to="$(arg ROBOT)_ik/get_wam_ik" />
    </node>

    <node name="iri_wam_generic_pickorplace" pkg="iri_wam_generic_pickorplace" type="iri_wam_generic_pickorplace" output="screen">
      <remap from="~/get_robot_ik" to="$(arg ROBOT)_tcp_ik/get_wam_ik"/>
      <remap from="~/wam_joints_pose" to="$(arg ROBOT)_controller/joints_move"/>
      <remap from="~/close_gripper" to="/gripper/close_tool"/>
      <remap from="~/open_gripper" to="/gripper/open_tool"/>
    </node>

  </group>

  <node name="fake_joints_move" pkg="cirp_gazebo" type="fake_joints_move_service.py"/>

  <!-- perceptiion -->
  <include file="$(find cirp_vision)/launch/cirp_vision_sim.launch" if="$(arg VISION)"/>
</launch>

